body {
    background-image: url(imagem/body.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 100px;
    display: none;
}

ul.menu {
    text-align: center;
    margin-top: 5%;
}

ul.menu li {
    display: inline-block;
    /* centraliza na horizontal */
    margin: 0 5px;
}

ul.menu li a {
    background-color: #3d7bb3;
    border-radius: 6px;
    padding: 6px 10px;
    color: #fff;
}

ul.menu li a:hover {
    background-color: #8BBADC;
}

ul.servico {
    font-size: xx-large;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1800px;
    height: 450px;
}

p {
    font-size: xx-large;
}